$color-dark-blue: #002772;
$color-light-pink: #fde2ff;
$color-black: #1e1e1e;
$color-purple: #720060;
$color-light-blue: #d6e6ff;
$color-dark-grey: #3f3f3f;
$color-light-grey: #dcdcdc;
$color-white: #fff;